<div class="card p-3 bg-light shadow-sm mb-4" style="max-width: 400px;">
  <h3 class="h5 mb-3">Alta de Alumno</h3>
  <form [formGroup]="alumnoForm" (ngSubmit)="guardarAlumno()">
    <div class="mb-3">
      <label class="form-label fw-bold">Nombre:</label>
      <input type="text" class="form-control" formControlName="nombre">
    </div>
    <div class="mb-3">
      <label class="form-label fw-bold">Edad:</label>
      <input type="number" class="form-control" formControlName="edad">
    </div>
    <button type="submit" class="btn btn-primary w-100" [disabled]="alumnoForm.invalid">
      Guardar Alumno
    </button>
  </form>
</div>

<!-- Componente del listado abajo -->
<app-listado-alumnos></app-listado-alumnos>